{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    {% if categories %}
        <ul>
            {% for category in categories %}
                <li><a href="{{ path('category', { id: category.id }) }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No books added yet</h2>
    {% endif %}
{% endblock %}